Repository neo4j/neo4j-browser, pull requests merged in 2021-09, with the labels that each got.

#1534 Updated the northwind-graph and removed the play version
  src/browser/documentation/sidebar-guides/northwind-graph.tsx
Labels: browser guides

#1527 Updated the concept guide and removed the play concept guide
  src/browser/documentation/sidebar-guides/concepts.tsx
  src/browser/images/labeled_node.png
  src/browser/images/more_nodes.png
  src/browser/images/one_node.png
  src/browser/images/rel-props.png
  src/browser/images/relationships.png
Labels: browser guides, documentation

#1530 Updated the cypher guide and removed the cypher play guide
  src/browser/documentation/sidebar-guides/cypher.tsx
Labels: browser guides

#1531 updated the movie-graph and removed the play version
  src/browser/documentation/sidebar-guides/movie-graph.tsx
Labels: browser guides

#1521 Updated the `:guide intro` guide
  src/browser/documentation/sidebar-guides/intro.tsx
  src/browser/images/SidebarDB_Iinfo.png
Labels: browser guides

#1540 moved SSO chapter and added admonition
  docs/modules/ROOT/content-nav.adoc
  docs/modules/ROOT/pages/browser-sso.adoc
  docs/modules/ROOT/pages/operations.adoc
Labels: browser manual
